Repository microsoft/CCF, pull requests merged in 2022-10, with the labels that each got.

#4297 [release/2.x] Cherry pick: Increase `wait_for_commit` timeouts to workaround `lts_compatibility` failures (#4286)
  tests/infra/commit.py
  tests/infra/consortium.py
Labels: 2.x-backport

#4303 Ensure LF line returns are used in construction of scurl's To-Be-Signed string
  python/utils/scurl.sh
Labels: 2.x-todo, auto-backport

#4420 TLA+ at the push of a button
  tla/README.md
Labels: tla

#4411 Another subset of small improvements of TLA+ specification listed in #4264
  tla/.gitignore
  tla/MCccfraft.cfg
  tla/MCccfraft.tla
  tla/MCccfraftWithReconfig.tla
  tla/ccfraft.tla
Labels: tla
