Repository microsoft/CCF, pull requests merged in 2023-05, with the labels that each got.

#5223 Validate tests/raft_scenarios/bad_network, fancy_election.1, and suffix_collision.1
  .azure-pipelines-templates/trace_validation.yml
  tla/Traceccfraft.tla
  tla/ccfraft.tla
Labels: tla

#5242 Add `populate_service_endorsements` to public headers
  CHANGELOG.md
  cmake/common.cmake
  include/ccf/historical_queries_utils.h
  include/ccf/network_identity_interface.h
  src/apps/external_executor/external_executor.cpp
  src/node/historical_queries_adapter.cpp
  src/node/historical_queries_utils.cpp
  src/node/historical_queries_utils.h
  src/node/rpc/network_identity_subsystem.h
Labels: auto-backport, 3.x-todo, 4.x-todo

#5250 Tame state-space explosion
  tla/MCccfraft.tla
  tla/MCccfraftWithReconfig.tla
  tla/Traceccfraft.tla
  tla/ccfraft.tla
Labels: tla

#5245 [release/4.x] Cherry pick: JS runtime traces in responses (#5237)
  CHANGELOG.md
  doc/schemas/gov_openapi.json
  include/ccf/odata_error.h
  include/ccf/rpc_context.h
  include/ccf/service/tables/jsengine.h
  samples/constitutions/default/actions.js
  src/apps/js_generic/js_generic_base.cpp
  src/js/wrap.cpp
  src/js/wrap.h
  src/node/rpc/frontend.h
  src/node/rpc/member_frontend.h
  src/node/rpc/rpc_context_impl.h
  tests/infra/consortium.py
  tests/js-modules/modules.py
  tests/npm-app/app.json
  tests/npm-app/src/endpoints/rpc.ts
Labels: 4.x-backport

#5244 [release/3.x] Cherry pick: Add `populate_service_endorsements` to public headers (#5242)
  CHANGELOG.md
  cmake/common.cmake
  include/ccf/historical_queries_utils.h
  include/ccf/network_identity_interface.h
  src/node/historical_queries_adapter.cpp
  src/node/historical_queries_utils.cpp
  src/node/rpc/network_identity_subsystem.h
Labels: 3.x-backport

#5256 Don't blindly trust copilot.
  tla/ccfraft.tla
Labels: tla

#5255 Change Traceccfraft validation from using an action constraint to using a next-state relation approach.
  tla/Traceccfraft.cfg
  tla/Traceccfraft.tla
Labels: tla

#5260 [release/4.x] Cherry pick: User cose sign1 (#5248)
  .daily_canary
  CHANGELOG.md
  doc/build_apps/api.rst
  doc/build_apps/js_app_bundle.rst
  doc/schemas/app_openapi.json
  include/ccf/common_auth_policies.h
  include/ccf/endpoints/authentication/cose_auth.h
  samples/apps/logging/logging.cpp
  src/apps/js_generic/js_generic_base.cpp
  src/apps/js_generic/named_auth_policies.h
  src/endpoints/authentication/cose_auth.cpp
  tests/e2e_logging.py
  tests/js-authentication/app.json
Labels: 4.x-backport

#5264 Miscellaneous improvements to Piccolo
  doc/architecture/performance/analysis.rst
  tests/perf-system/analyzer/analyze_packages.py
  tests/perf-system/analyzer/analyzer.py
  tests/perf-system/analyzer/throughput_analysis.py
Labels: testing

#5270 Switch from pylint to ruff
  .ruff.toml
  python/ccf/ledger.py
  python/ccf/ledger_viz.py
  python/ccf/read_ledger.py
  python/ledger_tutorial.py
  scripts/ci-checks.sh
  tests/ca_certs.py
  tests/e2e_logging.py
  tests/e2e_operations.py
  tests/external_executor/executors/logging_app/logging_app.py
  tests/external_executor/executors/util.py
  tests/external_executor/executors/wiki_cacher/wiki_cacher.py
  tests/governance.py
  tests/governance_history.py
  tests/infra/clients.py
  tests/infra/consortium.py
  tests/infra/logging_app.py
  tests/infra/network.py
  tests/infra/piccolo_driver.py
  tests/infra/remote_client.py
  tests/js-modules/modules.py
  tests/lts_compatibility.py
  tests/raft_scenarios_runner.py
  tests/reconfiguration.py
  tests/recovery.py
Labels: auto-backport, 4.x-todo

#5279 Swapping `RestrictPred` for `RestrictDomain` from TLA+ community modules
  tla/ccfraft.tla
Labels: tla

#5281 Remove outdate trace validation action.
  tla/Traceccfraft.tla
Labels: tla

#5266 Timeout idle node-to-node channels
  .threading_canary
  src/consensus/aft/test/logging_stub.h
  src/enclave/enclave.h
  src/node/node_state.h
  src/node/node_to_node.h
  src/node/node_to_node_channel_manager.h
  src/node/test/channels.cpp
Labels: auto-backport, 4.x-todo

#5294 Make it explicit that constant Nil \notin Servers.
  tla/ccfraft.tla
Labels: enhancement, tla

#5315 Include log's timestamp in trace spec.
  tla/Traceccfraft.tla
Labels: tla

#5312 [release/4.x] Cherry pick: Handle large snapshots (#5273)
  .daily_canary
  src/consensus/ledger_enclave_types.h
  src/ds/serializer.h
  src/enclave/enclave.h
  src/host/main.cpp
  src/host/snapshots.h
  src/host/test/ledger.cpp
  src/kv/kv_types.h
  src/kv/raw_serialise.h
  src/kv/snapshot.h
  src/kv/untyped_map.h
  src/node/node_state.h
  src/node/snapshotter.h
  src/node/test/snapshotter.cpp
  tests/config.jinja
  tests/e2e_operations.py
  tests/infra/e2e_args.py
  tests/infra/network.py
Labels: 4.x-backport

#5319 Strengthen trace validation by tightening lower bound of TraceAppendE…
  tla/MCccfraft.cfg
  tla/Traceccfraft.tla
  tla/ccfraft.tla
Labels: tla
