Repository microsoft/CCF, pull requests merged in 2023-10, with the labels that each got.

#5714 Warning: The variable messages was changed while it is specified as U…
  tla/ccfraft.tla
Labels: bug, tla

#5721 Improve error detail in raft message recv
  src/consensus/aft/raft.h
  src/ds/serialized.h
  src/node/test/encryptor.cpp
Labels: auto-backport, 4.x-todo

#5724 Report rc on keygen failure
  src/crypto/openssl/key_pair.cpp
  src/crypto/test/bench.cpp
Labels: auto-backport, 4.x-todo

#5730 Only enable JS runtime limits during execution
  .daily_canary
  CHANGELOG.md
  src/apps/js_generic/js_generic_base.cpp
  src/js/wrap.cpp
  src/js/wrap.h
  src/node/gov/handlers/proposals.h
  src/node/rpc/member_frontend.h
  tests/js-custom-authorization/custom_authorization.py
Labels: auto-backport, 4.x-todo

#5737 [release/4.x] Cherry pick: Pass enclave path as CLI argument rather than in configuration (#5665)
  CHANGELOG.md
  doc/host_config_schema/cchost_config.json
  src/host/configuration.h
  src/host/main.cpp
  tests/config.jinja
  tests/e2e_operations.py
  tests/infra/remote.py
Labels: 4.x-backport

#5738 [release/4.x] Cherry pick: Add CLI argument for SNP context directory (#5686)
  CHANGELOG.md
  doc/host_config_schema/cchost_config.json
  src/host/configuration.h
  src/host/main.cpp
  tests/config.jinja
  tests/infra/remote.py
Labels: 4.x-backport

#5739 [release/4.x] Backport of the refactor done to enable JS interpreter re-use, but without the feature itself
  .threading_canary
  doc/audit/builtin_maps.rst
  doc/build_apps/js_app_bundle.rst
  doc/schemas/app_openapi.json
  doc/schemas/gov_openapi.json
  doc/schemas/node_openapi.json
  include/ccf/endpoint.h
  include/ccf/service/tables/modules.h
  samples/apps/logging/js/app.json
  samples/apps/logging/js/src/logging.js
  samples/apps/logging/logging.cpp
  src/apps/js_generic/js_generic_base.cpp
  src/ds/lru.h
  src/enclave/enclave.h
  src/endpoints/endpoint.cpp
  src/js/interpreter_cache.h
  src/js/interpreter_cache_interface.h
  src/js/wrap.cpp
  src/js/wrap.h
  src/node/rpc/member_frontend.h
  src/node/rpc/node_frontend.h
  src/service/network_tables.h
  tests/code_update.py
  tests/e2e_logging.py
  tests/e2e_suite.py
  tests/external_executor/external_executor.py
  tests/infra/e2e_args.py
  tests/js-authentication/src/endpoints.js
  tests/js-custom-authorization/custom_authorization.py
  tests/membership.py
  tests/partitions_test.py
  tests/suite/test_requirements.py
Labels: 4.x-backport

#5743 [release/4.x] Cherry pick: Implement Azure-compliant governance interface (#5660)
  CHANGELOG.md
  CMakeLists.txt
  include/ccf/endpoint_registry.h
  include/ccf/endpoints/authentication/cose_auth.h
  include/ccf/http_consts.h
  include/ccf/odata_error.h
  include/ccf/rpc_context.h
  python/utils/submit_recovery_share.sh
  src/endpoints/authentication/cose_auth.cpp
  src/endpoints/endpoint_registry.cpp
  src/node/gov/README.md
  src/node/gov/api_version.h
  src/node/gov/gov_endpoint_registry.h
  src/node/gov/handlers/README.md
  src/node/gov/handlers/acks.h
  src/node/gov/handlers/helpers.h
  src/node/gov/handlers/proposals.h
  src/node/gov/handlers/recovery.h
  src/node/gov/handlers/service_state.h
  src/node/gov/handlers/transactions.h
  src/node/rpc/frontend.h
  src/node/rpc/member_frontend.h
  src/node/rpc/rpc_context_impl.h
  src/node/share_manager.h
  src/service/internal_tables_access.h
  tests/governance.py
  tests/governance_api.py
  tests/governance_js.py
  tests/infra/clients.py
  tests/infra/consortium.py
  tests/infra/e2e_args.py
  tests/infra/member.py
  tests/infra/network.py
  tests/infra/node.py
  tests/memberclient.py
  tests/requirements.txt
Labels: 4.x-backport

#5745 [release/4.x] Cherry pick: Add basic backpressure mechanism if primary has too many in-flight transactions (#5692)
  CHANGELOG.md
  doc/host_config_schema/cchost_config.json
  include/ccf/endpoint_registry.h
  include/ccf/odata_error.h
  include/ccf/service/consensus_config.h
  src/consensus/aft/raft.h
  src/consensus/aft/test/test_common.h
  src/consensus/consensus_types.h
  src/kv/kv_types.h
  src/kv/test/stub_consensus.h
  src/node/rpc/frontend.h
  src/node/rpc/node_frontend.h
  tests/config.jinja
  tests/e2e_operations.py
  tests/infra/network.py
  tests/infra/remote.py
  tests/requirements.txt
Labels: 4.x-backport

#5748 Raft Paper section 5.4.2: "[A leader] never commits log entries from previous terms...".
  tla/MCccfraft.cfg
  tla/MCccfraftWithReconfig.cfg
  tla/SIMccfraft.cfg
  tla/ccfraft.tla
Labels: tla

#5751 Moving the TLA+ spec for consensus
  .azure-pipelines-templates/trace_validation.yml
  .github/workflows/tlaplus.yml
  tla/consensus/MCccfraft.cfg
  tla/consensus/MCccfraft.tla
  tla/consensus/MCccfraftWithReconfig.cfg
  tla/consensus/Network.tla
  tla/consensus/SIMCoverageccfraft.R
  tla/consensus/SIMCoverageccfraft.cfg
  tla/consensus/SIMCoverageccfraft.tla
  tla/consensus/SIMccfraft.cfg
  tla/consensus/SIMccfraft.tla
  tla/consensus/Traceccfraft.cfg
  tla/consensus/Traceccfraft.tla
  tla/consensus/ccfraft.tla
Labels: tla

#5752 Updating TLA+ README.md
  tla/README.md
Labels: tla

#5757 Allow consecutive signatures.
  tla/consensus/MCccfraft.cfg
  tla/consensus/MCccfraft.tla
  tla/consensus/MCccfraftWithReconfig.cfg
  tla/consensus/ccfraft.tla
Labels: tla

#5754 Fixing link to CCF paper
  doc/research/index.rst
Labels: documentation

#5753 Update TLA+ docs page
  doc/architecture/index.rst
  doc/architecture/raft_tla.rst
Labels: documentation, tla

#5758 Do not assert committableIndices of the next state in "replicate", which can cause an error if the log ends on this "replicate".
  tla/consensus/Traceccfraft.tla
Labels: tla

#5747 JS FFI exception safety update
  .daily_canary
  src/apps/js_generic/js_generic_base.cpp
  src/crypto/openssl/entropy.h
  src/js/consensus.cpp
  src/js/conv.cpp
  src/js/crypto.cpp
  src/js/historical.cpp
  src/js/openenclave.cpp
  src/js/snp_attestation.cpp
  src/js/wrap.cpp
  src/js/wrap.h
  src/node/gov/handlers/proposals.h
  src/node/rpc/member_frontend.h
  src/tls/ca.h
  tests/js-modules/modules.py
Labels: auto-backport, 4.x-todo

#5761 Recreating longer counterexamples such as those coming out of the simulator is significantly faster when deserialized from TLC's binary format as opposed to the textual record in TTrace.tla.
  .github/workflows/tlaplus.yml
Labels: tla

#5762 [release/4.x] Cherry pick: Use new governance API throughout our infra (#5698)
  .gitignore
  .snpcc_canary
  CMakeLists.txt
  include/ccf/common_endpoint_registry.h
  scripts/ci-checks.sh
  src/endpoints/common_endpoint_registry.cpp
  src/node/gov/2023-06-01-preview.json
  src/node/gov/api_schema.h.in
  src/node/gov/api_version.h
  src/node/gov/gov_endpoint_registry.h
  src/node/gov/handlers/proposals.h
  src/node/gov/handlers/service_state.h
  tests/code_update.py
  tests/governance.py
  tests/governance_js.py
  tests/infra/clients.py
  tests/infra/consortium.py
  tests/infra/e2e_args.py
  tests/infra/jwt_issuer.py
  tests/infra/member.py
  tests/infra/network.py
  tests/jwt_test.py
  tests/lts_compatibility.py
  tests/memberclient.py
  tests/membership.py
  tests/recovery.py
  tests/requirements.txt
Labels: 4.x-backport

#5764 Add and enforce specification invariant `CommittableIndicesAreKnownSignaturesInv`
  src/consensus/aft/test/committable_suffix.cpp
  src/consensus/aft/test/driver.h
  src/consensus/aft/test/logging_stub.h
  src/consensus/aft/test/main.cpp
  src/consensus/aft/test/test_common.h
  tla/consensus/SIMccfraft.cfg
  tla/consensus/ccfraft.tla
Labels: tla

#5749 Retain all signatures during a soft rollback
  src/consensus/aft/impl/state.h
  src/consensus/aft/raft.h
  src/kv/kv_types.h
  src/kv/test/stub_consensus.h
  tests/raft_scenarios/election_while_reconfiguration
  tests/raft_scenarios/soft_rollback
  tla/consensus/ccfraft.tla
Labels: tla

#5775 Adding `CommittableIndicesAreKnownSignaturesInv` to exhaustive model checking
  tla/consensus/MCccfraft.cfg
  tla/consensus/MCccfraftWithReconfig.cfg
Labels: tla

#5782 Meaningful warning when the ndjson input file has no content.
  tla/consensus/Traceccfraft.tla
Labels: tla

#5779 Changing index into `Configurations` in `MCccfraft.tla`
  tla/consensus/MCccfraft.cfg
  tla/consensus/MCccfraft.tla
  tla/consensus/MCccfraftWithReconfig.cfg
Labels: tla

#5772 [release/4.x] Cherry pick: Only enable JS runtime limits during execution (#5730)
  .daily_canary
  CHANGELOG.md
  src/apps/js_generic/js_generic_base.cpp
  src/js/wrap.cpp
  src/js/wrap.h
  src/node/gov/handlers/proposals.h
  src/node/rpc/member_frontend.h
  tests/js-custom-authorization/custom_authorization.py
Labels: 4.x-backport

#5783 [release/4.x] Cherry pick: JS FFI exception safety update (#5747)
  .daily_canary
  src/apps/js_generic/js_generic_base.cpp
  src/crypto/openssl/entropy.h
  src/js/consensus.cpp
  src/js/conv.cpp
  src/js/crypto.cpp
  src/js/historical.cpp
  src/js/openenclave.cpp
  src/js/wrap.cpp
  src/js/wrap.h
  src/node/gov/handlers/proposals.h
  src/node/rpc/member_frontend.h
  src/tls/ca.h
  tests/js-modules/modules.py
Labels: 4.x-backport

#5785 [release/4.x] Cherry pick: Update CI images to 26-10-2023 (#5784)
  .azure-pipelines-gh-pages.yml
  .azure-pipelines-templates/deploy_aci.yml
  .azure-pipelines.yml
  .azure_pipelines_snp.yml
  .daily.yml
  .devcontainer/devcontainer.json
  .github/workflows/ci-checks.yml
  .github/workflows/tlaplus.yml
  .multi-thread.yml
  .stress.yml
  docker/ccf_ci_built
  scripts/azure_deployment/arm_aci.py
Labels: 4.x-backport

#5787 TLA+ tidy up
  tla/consensus/MCccfraft.cfg
  tla/consensus/MCccfraft.tla
  tla/consensus/MCccfraftWithReconfig.cfg
  tla/consensus/ccfraft.tla
Labels: tla

#5788 Check that nodes are not talking to themselves
  tla/consensus/ccfraft.tla
Labels: tla

#5778 Restrict initial configuration in ccfraft.tla to a single node
  tla/consensus/ccfraft.tla
Labels: tla

#5799 IsRcvProposeVoteRequest does not define the successor state(s).
  tla/consensus/Traceccfraft.tla
Labels: tla

#5795 Move committable indices to state, to facilitate tracing
  src/consensus/aft/impl/state.h
  src/consensus/aft/raft.h
  tla/consensus/Traceccfraft.tla
Labels: tla

#5800 Refactor hardcoded set of all Servers out of ccfraft.
  tla/consensus/MCccfraft.cfg
  tla/consensus/MCccfraft.tla
  tla/consensus/MCccfraftWithReconfig.cfg
  tla/consensus/SIMccfraft.tla
  tla/consensus/Traceccfraft.cfg
  tla/consensus/Traceccfraft.tla
  tla/consensus/ccfraft.tla
Labels: tla

#5802 Adding a new configuration to the model checking CI
  .github/workflows/tlaplus.yml
  tla/consensus/MCccfraft.tla
  tla/consensus/MCccfraftAtomicReconfig.cfg
Labels: tla
