Repository microsoft/CCF, pull requests merged in 2023-11, with the labels that each got.

#5803 Do not enforce default parsing limits on forwarded traffic
  .daily_canary
  CHANGELOG.md
  CMakeLists.txt
  include/ccf/ds/unit_strings.h
  include/ccf/http_configuration.h
  src/http/http_rpc_context.h
  src/node/rpc/forwarder.h
  tests/limits.py
Labels: auto-backport, 4.x-todo

#5805 Moving `requestlimit` to cfg files
  tla/consensus/MCccfraft.cfg
  tla/consensus/MCccfraft.tla
  tla/consensus/MCccfraftAtomicReconfig.cfg
  tla/consensus/MCccfraftWithReconfig.cfg
Labels: tla

#5806 [release/4.x] Cherry pick: Do not enforce default parsing limits on forwarded traffic (#5803)
  .daily_canary
  CHANGELOG.md
  CMakeLists.txt
  include/ccf/ds/unit_strings.h
  include/ccf/http_configuration.h
  src/http/http_rpc_context.h
  src/node/rpc/forwarder.h
  tests/limits.py
Labels: 4.x-backport

#5812 Align the _logline in a TLA+ counterexample with its corresponding entry in the JSON log, from which the TLA+ state has been constructed.
  tla/consensus/Traceccfraft.tla
Labels: tla

#5811 Ignoring states dump from TLC
  tla/.gitignore
Labels: tla

#5807 Adding TLC stats to cimetrics
  .azure-pipelines-templates/model_checking.yml
  metrics.yml
  tests/upload_tlc_stats.py
  tla/.gitignore
  tla/StatsFile.tla
  tla/consensus/MCccfraft.cfg
  tla/consensus/MCccfraft.tla
  tla/consensus/MCccfraftAtomicReconfig.cfg
  tla/consensus/MCccfraftWithReconfig.cfg
Labels: tla

#5826 Remove NotifyCommit to bring spec closer to implementation
  tla/consensus/MCccfraft.cfg
  tla/consensus/MCccfraft.tla
  tla/consensus/MCccfraftAtomicReconfig.cfg
  tla/consensus/MCccfraftWithReconfig.cfg
  tla/consensus/SIMCoverageccfraft.cfg
  tla/consensus/SIMCoverageccfraft.tla
  tla/consensus/SIMccfraft.cfg
  tla/consensus/SIMccfraft.tla
  tla/consensus/Traceccfraft.cfg
  tla/consensus/Traceccfraft.tla
  tla/consensus/ccfraft.tla
Labels: tla

#5827 Move simulation to ADO too, and shorten the length of its run to not delay PRs
  .azure-pipelines-templates/matrix.yml
  .azure-pipelines-templates/simulation.yml
  .github/workflows/tlaplus.yml
  tests/upload_tlc_stats.py
  tla/consensus/MCccfraftWithReconfig.cfg
  tla/consensus/SIMccfraft.cfg
  tla/consensus/SIMccfraft.tla
Labels: tla

#5831 Minor reformatting caused by prettier 3.1
  samples/constitutions/default/actions.js
Labels: auto-backport, 4.x-todo

#5828 Align initial spec state with implementation
  .azure-pipelines-templates/trace_validation.yml
  tests/raft_scenarios_runner.py
  tla/consensus/MCccfraft.cfg
  tla/consensus/MCccfraft.tla
  tla/consensus/MCccfraftAtomicReconfig.cfg
  tla/consensus/MCccfraftWithReconfig.cfg
  tla/consensus/SIMccfraft.cfg
  tla/consensus/Traceccfraft.cfg
  tla/consensus/Traceccfraft.tla
  tla/consensus/ccfraft.tla
Labels: tla

#5842 Refactor JoinedState and StartState into one.
  tla/consensus/MCccfraft.tla
  tla/consensus/Traceccfraft.tla
  tla/consensus/ccfraft.tla
Labels: tla
