Repository microsoft/CCF, pull requests merged in 2024-05, with the labels that each got.

#6160 [release/4.x] Cherry-pick: Remove/disable cimetrics
  .azure-pipelines-templates/common.yml
  .azure-pipelines-templates/matrix.yml
  .azure-pipelines-templates/metrics.yml
  .azure-pipelines-templates/push_perf_data.yml
  .azure-pipelines-templates/test.yml
  tests/commit_latency.py
  tests/historical_query_perf.py
  tests/infra/piccolo_driver.py
  tests/infra/runner.py
  tests/upload_pico_metrics.py
Labels: 4.x-backport

#6166 Use typed model values to prevent comparing things that shouldn't be compared.
  tla/consistency/MCMultiNodeCommitReachability.cfg
  tla/consistency/MCMultiNodeReads.cfg
  tla/consistency/MCMultiNodeReadsAlt.cfg
  tla/consistency/MCSingleNode.cfg
  tla/consistency/MCSingleNodeReads.cfg
  tla/consistency/MultiNodeReads.cfg
  tla/consistency/TraceMultiNodeReads.cfg
Labels: tla

#6167 Document non-linearizability of read-only transactions in rare system condition
  tla/consistency/Consistency.cfg
  tla/consistency/Consistency.tla
Labels: documentation, tla

#6182 Spring clean consistency spec
  tla/consistency/ExternalHistory.tla
  tla/consistency/ExternalHistoryInvars.tla
  tla/consistency/MCMultiNode.cfg
  tla/consistency/MCMultiNodeCommitReachability.cfg
  tla/consistency/MCMultiNodeInvalidReachability.cfg
  tla/consistency/MCMultiNodeReadsNotLinearizable.cfg
  tla/consistency/MCSingleNode.tla
  tla/consistency/MCSingleNodeCommitReachability.cfg
  tla/consistency/MultiNode.tla
  tla/consistency/SingleNode.tla
Labels: tla

#6184 Additional consistency invariant
  tla/consistency/ExternalHistoryInvars.tla
Labels: tla

#6214 Update CI image from 2024-04-25 to 2024-05-29
  .azure-pipelines-gh-pages.yml
  .azure-pipelines-model-checking.yml
  .azure-pipelines-release.yml
  .azure-pipelines-templates/deploy_aci.yml
  .azure-pipelines.yml
  .azure_pipelines_snp.yml
  .daily.yml
  .devcontainer/devcontainer.json
  .github/workflows/bencher_run.yml
  .github/workflows/ci-checks.yml
  .github/workflows/tlaplus.yml
  .multi-thread.yml
  .stress.yml
  docker/ccf_ci_built
  scripts/azure_deployment/arm_aci.py
Labels: auto-backport, 4.x-todo

#6216 [release/4.x] Cherry-pick: SNP CI: Login to az cli with VM's user-managed identity (#6123)
  .azure-pipelines-templates/azure_cli.yml
  .azure-pipelines-templates/deploy_aci.yml
Labels: 4.x-backport
