Repository microsoft/CCF, pull requests merged in 2024-02, with the labels that each got.

#5971 Adding `is_new_follower` to consensus spec
  tla/consensus/ccfraft.tla
Labels: tla

#5982 Ignoring AE messages before commit index
  tla/consensus/ccfraft.tla
Labels: tla

#5992 Comments to document use of `sent_idx` in spec
  tla/consensus/Traceccfraft.tla
  tla/consensus/ccfraft.tla
Labels: tla

#5978 Adding RetiredCommitted transaction to consensus spec
  tla/consensus/MCccfraft.cfg
  tla/consensus/MCccfraftAtomicReconfig.cfg
  tla/consensus/MCccfraftWithReconfig.cfg
  tla/consensus/SIMCoverageccfraft.cfg
  tla/consensus/SIMccfraft.cfg
  tla/consensus/Traceccfraft.cfg
  tla/consensus/ccfraft.tla
Labels: tla

#6011 Update CI image from 25-01-2024 to 12-02-2024
  .azure-pipelines-gh-pages.yml
  .azure-pipelines-release.yml
  .azure-pipelines-templates/deploy_aci.yml
  .azure-pipelines.yml
  .azure_pipelines_snp.yml
  .daily.yml
  .devcontainer/devcontainer.json
  .github/workflows/ci-checks.yml
  .github/workflows/tlaplus.yml
  .multi-thread.yml
  .stress.yml
  docker/ccf_ci_built
  scripts/azure_deployment/arm_aci.py
Labels: auto-backport, 4.x-todo

#6014 [release/4.x] Cherry pick: Update CI image from 25-01-2024 to 12-02-2024 (#6011)
  .azure-pipelines-gh-pages.yml
  .azure-pipelines-templates/deploy_aci.yml
  .azure-pipelines.yml
  .azure_pipelines_snp.yml
  .daily.yml
  .devcontainer/devcontainer.json
  .github/workflows/ci-checks.yml
  .github/workflows/tlaplus.yml
  .multi-thread.yml
  .stress.yml
  docker/ccf_ci_built
  scripts/azure_deployment/arm_aci.py
Labels: 4.x-backport

#6002 Adding `ReplicationInv` to consensus spec
  tla/consensus/MCccfraft.cfg
  tla/consensus/MCccfraftAtomicReconfig.cfg
  tla/consensus/MCccfraftWithReconfig.cfg
  tla/consensus/SIMccfraft.cfg
  tla/consensus/ccfraft.tla
Labels: tla

#6016 Raft fixes: Rollback safety despite NACKs, and only ACK up to incoming AE
  .daily_canary
  .threading_canary
  CHANGELOG.md
  src/consensus/aft/raft.h
  src/consensus/aft/test/driver.cpp
  src/consensus/aft/test/driver.h
  tests/raft_scenarios/ackuracy
  tests/raft_scenarios/liveness_through_conflict
  tests/raft_scenarios/rollback_safety
  tla/consensus/ccfraft.tla
Labels: tla, auto-backport, 4.x-todo

#6019 [release/4.x] Cherry pick: Raft fixes: Rollback safety despite NACKs, and only ACK up to incoming AE (#6016)
  CHANGELOG.md
  src/consensus/aft/raft.h
  src/consensus/aft/test/driver.cpp
  src/consensus/aft/test/driver.h
Labels: 4.x-backport

#6021 RaftDriver: Log whenever messages are dropped, to simplify trace validation
  src/consensus/aft/raft.h
  src/consensus/aft/test/driver.h
  tests/trace_viz.py
  tla/consensus/Network.tla
  tla/consensus/Traceccfraft.tla
Labels: tla

#6022 Help TLC to only evaluate JsonServers once.
  tla/consensus/Traceccfraft.tla
Labels: tla

#6027 Spring cleaning TLA+
  tla/consensus/MCccfraft.cfg
  tla/consensus/MCccfraft.tla
  tla/consensus/MCccfraftAtomicReconfig.cfg
  tla/consensus/MCccfraftWithReconfig.cfg
  tla/consensus/SIMccfraft.tla
Labels: tla

#6009 RaftDriver: Always loop until sync is achieved at the end of a scenario
  src/consensus/aft/test/driver.cpp
  src/consensus/aft/test/driver.h
  tla/consensus/Network.tla
  tla/consensus/Traceccfraft.tla
Labels: tla

#6029 Fix flaky scenario on 4.x branch
  tests/raft_scenarios/bad_network
Labels: 4.x-backport

#6013 Adding retiredcommitted as a node state
  tla/consensus/MCccfraft.cfg
  tla/consensus/MCccfraftAtomicReconfig.cfg
  tla/consensus/MCccfraftWithReconfig.cfg
  tla/consensus/SIMCoverageccfraft.cfg
  tla/consensus/SIMccfraft.cfg
  tla/consensus/Traceccfraft.cfg
  tla/consensus/Traceccfraft.tla
  tla/consensus/ccfraft.tla
Labels: tla

#6036 Raft Spec: Fix IsRetiredCommittedLog to use log argument
  tla/consensus/ccfraft.tla
Labels: tla
