Repository microsoft/CCF, pull requests merged in 2024-10, with the labels that each got.

#6507 Fix historical TX requests for previous epochs during recovery
  src/node/historical_queries_adapter.cpp
  tests/e2e_logging.py
  tests/recovery.py
Labels: run-long-test

#6517 Assert (postcondition) that all "debug invariants" equal true in at least one state.
  tla/consensus/MCccfraft.cfg
  tla/consensus/MCccfraft.tla
Labels: tla, run-long-verification

#6509 Check refinement of high-level spec abs with all models
  tla/consensus/MCabs.cfg
  tla/consensus/MCabs.tla
  tla/consensus/MCccfraft.cfg
  tla/consensus/MCccfraft.tla
  tla/consensus/SIMccfraft.cfg
  tla/consensus/SIMccfraft.tla
  tla/consensus/abs.tla
  tla/consensus/ccfraft.tla
Labels: tla, run-long-verification

#6519 Remove `StatsFile.tla`
  tla/StatsFile.tla
Labels: tla

#6528 Upgrade CI image from 25-07-2024 to 07-10-2024
  .azure-pipelines-release.yml
  .azure-pipelines-templates/deploy_aci.yml
  .azure_pipelines_snp.yml
  .github/workflows/bencher.yml
  .github/workflows/ci-verification.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/long-test.yml
  .github/workflows/long-verification.yml
  .github/workflows/release.yml
  docker/ccf_ci_built
Labels: run-long-test

#6533 Remove redefinitions of Terms in refinement mapping.
  tla/consensus/MCabs.cfg
  tla/consensus/MCabs.tla
  tla/consensus/MCccfraft.cfg
  tla/consensus/MCccfraft.tla
  tla/consensus/SIMccfraft.cfg
  tla/consensus/SIMccfraft.tla
  tla/consensus/abs.tla
  tla/consensus/ccfraft.tla
Labels: tla

#6535 Limiting the terms reached by ProposeVote
  tla/consensus/MCccfraft.cfg
  tla/consensus/MCccfraft.tla
Labels: tla

#6536 Allow manual runs of long verification
  .github/workflows/long-verification.yml
Labels: run-long-verification

#6544 Strengthen various *TypeInvs by defining every function's domain.
  tla/consensus/ccfraft.tla
Labels: tla

#6510 COSE back-endorsements for previous service identities
  CHANGELOG.md
  doc/audit/builtin_maps.rst
  doc/schemas/app_openapi.json
  include/ccf/crypto/cose_verifier.h
  include/ccf/historical_queries_utils.h
  include/ccf/receipt.h
  python/pyproject.toml
  python/src/ccf/cose.py
  python/src/ccf/ledger.py
  samples/apps/logging/logging.cpp
  samples/apps/logging/logging_schema.h
  src/crypto/openssl/cose_sign.cpp
  src/crypto/openssl/cose_sign.h
  src/crypto/openssl/cose_verifier.cpp
  src/node/historical_queries_adapter.cpp
  src/node/historical_queries_utils.cpp
  src/node/node_state.h
  src/node/rpc/test/node_frontend_test.cpp
  src/node/tx_receipt_impl.h
  src/service/internal_tables_access.h
  src/service/network_tables.h
  src/service/tables/previous_service_identity.h
  tests/recovery.py
Labels: run-long-test

#6555 COSE endorsements shall include previous epoch root
  doc/audit/builtin_maps.rst
  src/crypto/openssl/cose_sign.h
  src/service/internal_tables_access.h
  src/service/network_tables.h
  src/service/tables/previous_service_identity.h
  tests/recovery.py
Labels: run-long-test

#6564 Fix memory corruption for COSE headers construction
  src/service/internal_tables_access.h
Labels: run-long-test

#6562 Adjust the probabilities based on empirical data to achieve less uneven coverage of the action space during simulation
  tla/consensus/SIMCoverageccfraft.R
  tla/consensus/SIMCoverageccfraft.cfg
  tla/consensus/SIMCoverageccfraft.tla
  tla/consensus/SIMccfraft.cfg
  tla/consensus/SIMccfraft.tla
Labels: tla

#6576 Ignore time in did:x509 resolve
  .snpcc_canary
  CHANGELOG.md
  src/node/uvm_endorsements.h
Labels: auto-backport, 5.x-todo

#6577 [release/5.x] Cherry pick: Ignore time in did:x509 resolve (#6576)
  .snpcc_canary
  CHANGELOG.md
  src/node/uvm_endorsements.h
Labels: 5.x-backport

#6583 Set and enforce VMPL in SNP attestation
  .snpcc_canary
  CHANGELOG.md
  include/ccf/pal/attestation.h
  include/ccf/pal/snp_ioctl5.h
  include/ccf/pal/snp_ioctl6.h
  python/pyproject.toml
Labels: auto-backport, 5.x-todo

#6584 [release/5.x] Cherry pick: Set and enforce VMPL in SNP attestation (#6583)
  .snpcc_canary
  CHANGELOG.md
  include/ccf/pal/attestation.h
  include/ccf/pal/snp_ioctl5.h
  include/ccf/pal/snp_ioctl6.h
Labels: 5.x-backport

#6569 Test-cover COSE-based signatures schemas with CDDL
  cddl/ccf-cose-endorsement-service-identity.cddl
  cddl/ccf-merkle-tree-cose-signature.cddl
  doc/schemas/app_openapi.json
  include/ccf/receipt.h
  samples/apps/logging/logging.cpp
  samples/apps/logging/logging_schema.h
  src/crypto/openssl/cose_sign.cpp
  src/crypto/openssl/cose_sign.h
  src/crypto/openssl/cose_verifier.cpp
  src/node/historical_queries_adapter.cpp
  src/node/history.h
  src/service/internal_tables_access.h
  tests/e2e_logging.py
  tests/recovery.py
Labels: run-long-test

#6586 Add API to allow setting unprotected headers
  CHANGELOG.md
  CMakeLists.txt
  cddl/ccf-receipt.cddl
  cmake/crypto.cmake
  doc/build_apps/api.rst
  doc/schemas/app_openapi.json
  include/ccf/crypto/cose.h
  samples/apps/logging/logging.cpp
  src/crypto/cose.cpp
  src/crypto/test/cose.cpp
  src/node/historical_queries_adapter.cpp
  src/node/test/historical_queries.cpp
  tests/e2e_logging.py
  tests/perf-system/submitter/CMakeLists.txt
Labels: run-long-test

#6602 Remove secp256k as unsupported by symcrypt on Mariner
  CHANGELOG.md
  include/ccf/crypto/curve.h
  include/ccf/crypto/jwk.h
  js/ccf-app/src/global.ts
  js/ccf-app/test/polyfill.test.ts
  src/crypto/openssl/public_key.cpp
  src/crypto/test/bench.cpp
  src/crypto/test/crypto.cpp
  src/js/extensions/ccf/crypto.cpp
  tests/npm_tests.py
Labels: run-long-test
