Repository microsoft/CCF, pull requests merged in 2024-03, with the labels that each got.

#6040 Report TLA+ spec coverage ever 10 minutes and once at the end of model checking
  .azure-pipelines-templates/model_checking.yml
  tla/consensus/ccfraft.tla
Labels: tla

#6046 n.type = AppendEntriesRequest missing from disjunct.
  tla/consensus/MCccfraft.tla
Labels: tla

#6041 Allow consecutive signatures in different terms
  tla/consensus/MCccfraft.tla
  tla/consensus/MCccfraftAtomicReconfig.cfg
  tla/consensus/MCccfraftWithReconfig.cfg
Labels: tla

#6047 Change addedNodes
  tla/consensus/ccfraft.tla
Labels: tla

#6044 Do not use removedFromConfiguration in ChangeConfigurationInt
  tla/consensus/MCAliases.tla
  tla/consensus/ccfraft.tla
Labels: tla

#6049 Update PlausibleSucessorNodes logic and remove the global removedFromConfiguration
  tla/consensus/MCAliases.tla
  tla/consensus/Traceccfraft.tla
  tla/consensus/ccfraft.tla
Labels: tla

#6051 Keep track of retired completed but not committed nodes
  tla/consensus/MCccfraft.cfg
  tla/consensus/MCccfraftAtomicReconfig.cfg
  tla/consensus/MCccfraftWithReconfig.cfg
  tla/consensus/SIMccfraft.cfg
  tla/consensus/ccfraft.tla
Labels: tla

#6053 Refactor ReplicationInv to reduce its computational complexity.
  tla/consensus/ccfraft.tla
Labels: tla

#5973 Raft: Nodes stay active later during reconfiguration to ensure liveness
  .azure-pipelines-model-checking.yml
  .azure-pipelines-templates/model_checking.yml
  .daily_canary
  .model_checking_canary
  doc/architecture/consensus/1tx-reconfig.rst
  doc/architecture/consensus/index.rst
  doc/architecture/raft_tla.rst
  src/consensus/aft/raft.h
  src/consensus/aft/test/main.cpp
  src/node/rpc/node_frontend.h
  src/service/internal_tables_access.h
  tests/raft_scenarios/reconfig_01_12
  tests/raft_scenarios/reconfig_01_el0_12
  tests/raft_scenarios/reconfig_01_el1_12
  tests/raft_scenarios/reconfig_01_el2_12
  tests/raft_scenarios/reconfig_0_1
  tests/raft_scenarios/retire_one
  tests/raft_scenarios_runner.py
  tla/consensus/MCAliases.tla
  tla/consensus/MCccfraft.tla
  tla/consensus/MCccfraftAtomicReconfig.cfg
  tla/consensus/MCccfraftWithReconfig.cfg
  tla/consensus/Traceccfraft.cfg
  tla/consensus/Traceccfraft.tla
  tla/consensus/ccfraft.tla
  tla/tlc.sh
Labels: tla

#6068 Adopt a consistent 'ing style in TLA+
  tla/consensus/ccfraft.tla
  tla/consistency/SingleNode.tla
Labels: tla

#6067 Update CI image from 12-02-2024 to 15-03-2024
  .azure-pipelines-gh-pages.yml
  .azure-pipelines-model-checking.yml
  .azure-pipelines-release.yml
  .azure-pipelines-templates/deploy_aci.yml
  .azure-pipelines.yml
  .azure_pipelines_snp.yml
  .daily.yml
  .devcontainer/devcontainer.json
  .github/workflows/ci-checks.yml
  .github/workflows/tlaplus.yml
  .multi-thread.yml
  .stress.yml
  docker/ccf_ci_built
  scripts/azure_deployment/arm_aci.py
Labels: auto-backport, 4.x-todo

#6072 [release/4.x] Cherry pick: Update CI image from 12-02-2024 to 15-03-2024 (#6067)
  .azure-pipelines-gh-pages.yml
  .azure-pipelines-templates/deploy_aci.yml
  .azure-pipelines.yml
  .azure_pipelines_snp.yml
  .daily.yml
  .devcontainer/devcontainer.json
  .github/workflows/ci-checks.yml
  .github/workflows/tlaplus.yml
  .multi-thread.yml
  .stress.yml
  docker/ccf_ci_built
  scripts/azure_deployment/arm_aci.py
Labels: 4.x-backport

#6074 Add action number plotting script
  .azure-pipelines-model-checking.yml
  .azure-pipelines-templates/model_checking.yml
  .model_checking_canary
  tla/StatsFile.tla
  tla/actions.py
  tla/consensus/MCccfraft.cfg
  tla/consensus/MCccfraft.tla
  tla/consensus/MCccfraftAtomicReconfig.cfg
  tla/consensus/MCccfraftWithReconfig.cfg
  tla/consensus/SIMccfraft.cfg
  tla/requirements.txt
Labels: tla

#6080 Update CI image from 15-03-2024 to 2024-03-21
  .azure-pipelines-gh-pages.yml
  .azure-pipelines-model-checking.yml
  .azure-pipelines-release.yml
  .azure-pipelines-templates/deploy_aci.yml
  .azure-pipelines.yml
  .azure_pipelines_snp.yml
  .daily.yml
  .devcontainer/devcontainer.json
  .github/workflows/ci-checks.yml
  .github/workflows/tlaplus.yml
  .multi-thread.yml
  .stress.yml
  docker/ccf_ci_built
  scripts/azure_deployment/arm_aci.py
Labels: auto-backport, 4.x-todo

#6089 [release/4.x] Cherry-pick: Update CI image from 15-03-2024 to 2024-03-21 (#6080)
  .azure-pipelines-gh-pages.yml
  .azure-pipelines-templates/deploy_aci.yml
  .azure-pipelines.yml
  .azure_pipelines_snp.yml
  .daily.yml
  .devcontainer/devcontainer.json
  .github/workflows/ci-checks.yml
  .github/workflows/tlaplus.yml
  .multi-thread.yml
  .stress.yml
  docker/ccf_ci_built
  scripts/azure_deployment/arm_aci.py
Labels: 4.x-backport

#6092 Action and Variable coverage collection
  .azure-pipelines-templates/model_checking.yml
  tla/StatsFile.tla
  tla/actions.py
  tla/consensus/MCccfraft.cfg
  tla/consensus/MCccfraftAtomicReconfig.cfg
  tla/consensus/MCccfraftWithReconfig.cfg
  tla/consensus/SIMccfraft.cfg
Labels: tla

#6098 Add TLAi linter.
  .github/workflows/tlaplus.yml
  scripts/TLAi-linter.genai.js
  tla/StatsFile.tla
Labels: tla

#6093 Switch to new TLC hook to periodically dump action coverage.
  .azure-pipelines-templates/model_checking.yml
  .model_checking_canary
  tla/StatsFile.tla
  tla/actions.py
  tla/consensus/MCccfraftAtomicReconfig.cfg
  tla/consensus/MCccfraftWithReconfig.cfg
Labels: tla

#6099 Update StatsFile.tla
  tla/StatsFile.tla
Labels: tla

#6103 Reduce noise of TLAi linter.
  .github/workflows/tlaplus.yml
  scripts/TLAi-linter.genai.js
  tla/StatsFile.tla
  tla/actions.py
  tla/consensus/MCccfraftAtomicReconfig.cfg
  tla/consensus/MCccfraftWithReconfig.cfg
Labels: tla

#6104 Refactor Traceccfraft to reuse IsRequestVoteRequest.
  .gitignore
  scripts/TLAi-linter.genai.js
  tla/consensus/Traceccfraft.tla
Labels: tla
