Repository microsoft/CCF, pull requests merged in 2024-09, with the labels that each got.

#6460 Update TLA+ dev container to include new TLA+ vscode extension
  .devcontainer/tlaplus/devcontainer.json
  tla/install_deps.py
Labels: tla

#6438 Adding an abstract consensus spec
  .github/workflows/tlaplus.yml
  tla/consensus/MCabs.cfg
  tla/consensus/MCabs.tla
  tla/consensus/MCccfraft.cfg
  tla/consensus/MCccfraft.tla
  tla/consensus/abs.tla
Labels: tla

#6480 COSE receipts: CPP API
  CHANGELOG.md
  CMakeLists.txt
  include/ccf/receipt.h
  src/crypto/openssl/cose_sign.cpp
  src/node/historical_queries.h
  src/node/historical_queries_adapter.cpp
  src/node/snapshot_serdes.h
  src/node/test/historical_queries.cpp
  src/node/tx_receipt_impl.h
Labels: run-long-test

#6494 `upload-artifact` Github action fails because of non-unique artifact names.
  .github/workflows/tlaplus.yml
Labels: tla, github_actions

#6497 Add long LTS to long tests
  .github/workflows/long-test.yml
Labels: run-long-test

#6501 Revert https://github.com/microsoft/CCF/pull/5939
  tla/consensus/SIMccfraft.cfg
Labels: tla

#6475 Refactor abstract consensus specification
  tla/consensus/MCabs.cfg
  tla/consensus/MCabs.tla
  tla/consensus/abs.tla
Labels: tla

#6511 Minimize number of TLC configuration files.
  .github/workflows/tlaplus.yml
  doc/architecture/raft_tla.rst
  tla/StatsFile.tla
  tla/consensus/MCccfraft.cfg
  tla/consensus/MCccfraft.tla
  tla/consensus/MCccfraft2Nodes.cfg
  tla/consensus/MCccfraftAtomicReconfig.cfg
  tla/consensus/MCccfraftWithReconfig.cfg
Labels: tla
